@charset "utf-8";
@import "normalize";
@import "foundation";
@include foundation-everything();

$font-stack: 'Lato', san-serif;
$primary-font-color: #69381B;

html{
  margin: 0;
  padding: 0;
}

body{
  color: $primary-font-color;
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

header {
  margin: 10px;
}

#badges .item img {
  width: 120px;
}

#intro {
  background: linear-gradient(rgba(109, 107, 106, 0.38), rgba(109, 107, 106, 0.38)), url('/images/intro2.jpg') no-repeat center 45%;
  background-size: cover;
  color: #fff;
  height: 460px;
  width: 100%;
  border-top: 1px solid #69381b;
  border-bottom: 1px solid #acafb6;
  display: flex;
}

#intro .info {
  align-self: center;
}

#intro h1 {
  background-color: rgba(204, 59, 22, 0.5);
  display: inline-block;
  margin-bottom: 0;
  padding: 10px;
  float: right;
}

#intro h1:nth-of-type(2){
  background-color: rgba(204, 59, 22, 0.75);
  margin-top: -20px;
}

footer {
  background-color: Brown;
  color: #fff;
}

footer a {
  color: #fff;
}

footer li {
  list-style: none;
}

section, .section {
  padding: 26px 0;
}

section.about{
  padding-top: 70px;
}

.tabs { border: none; }

.tabs-title {
  border-bottom: 1px solid #e6e6e6;
}

.tabs-title.is-active {
  background-color: #fff;
}

.tabs-title.geol.is-active {
  border-left: 8px solid #f58a22;
}

.tabs-title.geot.is-active {
  border-left: 8px solid #ff491b;
}

.tabs-title.geof.is-active {
  border-left: 8px solid #69381b;
}

.tabs-title > a {
  background: none !important;
  font-size: 1.5rem;
}

.tabs-content.vertical {
  border: none;
}

#brochure-download {
  padding: 26px 0;
  background: linear-gradient(rgba(164, 164, 163, 0.66), rgba(164, 164, 163, 0.61)), url("http://previews.123rf.com/images/merial1/merial11205/merial1120500079/13673038-Detail-der-boxed-Kernproben-aus-Diamantkernbohrer-Lizenzfreie-Bilder.jpg");
  background-attachment: fixed;
}

.contact-box {
  color: #69381b;
  font-family: 'Montserrat',sans-serif;
  margin-left: 1rem;
  margin-top: 1rem;
}

a.contact-box:hover {
  color: #f58a22;
}

.contact-box i {
  float: left;
  font-size: 3rem;
}

.contact-box h4 {
  font-size: 1.12rem;
  font-weight: bold;
  float: right;
  line-height: 4.25rem;
  margin-left: 8px;
}

.about {
  background-color: #faf6f2;
  padding: 26px 0;
}

h3 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 1.875rem;
}

h2 {
  font-family: "Passion One", cursive;
  border-bottom: 1px solid #fbf2ea;
  position: relative;
  margin-bottom: 32px;
}

h2::after {
  position: absolute;
  content: "";
  background-color: #ff491b;
  height: 3px;
  width: 150px;
  bottom: -1px;
  left: 0;
}
