<div id="affiliations" class="container section">
  <img src="images/cfia_logo.jpg" alt="Colegio Federado de Ingenieros y de Arquitectos de Costa Rica" />
  <img src="images/cic_logo.jpg" alt="Colegion de Ingenieros Civiles de Costa Rica" />
</div>
