<a name="contacts-section"></a>
<div id="contacts" class="section">
  <div class="container">
    <ul>
      <li class="phone"><a href="tel: 506-5555-5555">(506) 5555-5555</a></li>
      <li class="email"><a href="mailto:info@cmg.cr">Email CMG</a></li>
      <li class="facebook social"><a href="https://www.facebook.com/cmgcrc" target="_blank"><img src="/images/facebook.png" class="social"></a></li>
      <li class="twitter social"><a href="https://twitter.com/cmgcrc" target="_blank"><img src="/images/twitter.png" class="social"></a></li>
      <li class="linkedin social last"><a class="last" href="https://www.linkedin.com/company/cmgcrc" target="_blank"><img src="/images/linkedin.png"></a></li>
    </ul>
  </div>
</div>
