<footer class="section">

  <!--div id="brochure-download">
    <div class="row column">
      <div class="large-6 columns"><p>Checkout more details about our most ambitious project <strong> The ultima</strong> by downloading the e-brocher for this project</p></div>
      <div class="large-6 columns">
        <div class="row"><a class="large button download-btn" href="http://theultima.dlf.in/pdf/DLF-ULTIMA-spreads.pdf" style="top: 0px;">Download e-Brochure</a></div>
      </div>
    </div>
  </div-->

  <div class="row column section" style="text-align: center;">
      <article>
        <h3><img src="/images/cmg_logo_white.png" style="width: 170px;"/></h3>
        <div class="widget-content">
          <ul class="info">
            <li><span class="fa fa-map-marker"></span> San Ramón, Alajuela. Apdo Postal 190</li>
            <li><span class="fa fa-phone"></span> +506 4033-7369</li>
            <li><span class="fa fa-envelope"></span>  <a href="mailto:info@cmg.cr">info@cmg.cr</a></li>
          </ul>
          <!--div class="social">
            <a class="img-circle fa fa-facebook-f" target="_blank" href="http://facebook.com"></a>
            <a class="img-circle fa fa-twitter" target="_blank" href="http://twitter.com"></a>
            <a class="img-circle fa fa-google-plus" target="_blank" href="http://google.com"></a>
            <a class="img-circle fa fa-linkedin" target="_blank" href="http://linkedin.com"></a>
          </div-->
        </div>
      </article>
    </div>
  </div>

  <!--Footer Bottom-->
  <div class="footer-bottom">
    <div class="auto-container text-center">
      CMG S.A. &copy; 2016 Todos los derechos reservados.
    </div>
  </div>
</footer>
