<%#= partial 'affiliations' %>

<%#= partial 'copyright' %>

<footer>
  <%= partial 'contact' %>
  <div id="copyright">
    <div class="container content">
          <div class="getsocial">
            <a href="https://www.facebook.com/getflipp" target="_blank"><img src="/images/flipp_corp/facebook.png" class="social"></a>
            <a href="https://twitter.com/getflipp" target="_blank"><img src="/images/flipp_corp/twitter.png" class="social"></a>
            <a class="last" href="https://www.linkedin.com/company/wishabi" target="_blank"><img src="/images/flipp_corp/linkedin.png"></a>
          </div>
      © Copyright <script>document.write(new Date().getFullYear())</script> Caracterización y Modelación Geotécnica CMG S.A. Todos los derechos reservados.
    </div>
  </div>
</footer>
