<header class="row">
  <div class="medium-4 columns">
    <a href="/">
      <img src="/images/cmg_logo.png" width="300"/>
    </a>
  </div>
  <div class="medium-8 columns">

    <a class="contact-box float-right" href="mailto:info@cmg.cr">
      <i class="fi-mail"></i>
      <h4>info@cmg.cr</h4>
    </a>

    <a class="contact-box float-right" href="tel:+50640337369">
      <i class="fi-telephone"></i>
      <h4>(+506) 4033-7369</h4>
    </a>

  </div>
</header>

<div id="intro">
  <div class="row column info">
    <h1>Exploración, caracterización, análisis y diseño</h1>
    <h1>geotécnico para el éxito de sus proyectos</h1>
  </div>
</div>
