<header data-sticky-container>
  <div class="top sticky" data-sticky data-margin-top="0">
    <img src="/images/cmg_logo.png" />
    <div id="contact-methods">
			<strong>T:</strong> +506 2445-5502<br>
			<strong>E:</strong> <a href="mailto:info@cmg.cr">info@cmg.cr</a>
		</div>
  </div>
  <div class="intro">
    <nav>
      <ul class="menu-items container">
        <li><%= t('menu.about_us') %></li>
        <li><%= t('menu.services') %></li>
        <li><%= t('menu.projects') %></li>
        <li><a href="#contacts-section"><%= t('menu.contact_us') %></a></li>
      </ul>
    </nav>
    <div class="info">
      <h1>Texto de por qué trabajar con CMG</h1>
    </div>
  </div>
</header>
