<header>
  <div class="social-icons">
    <ul class="clearfix">
      <li><a href="https://twitter.com/#" target="_blank"><i class="icon-twitter" title="Twitter"></i></a></li>
      <li><a href="#" target="_blank"><i class="fa fa-facebook" title="Facebook"></i></a></li>
      <li><a href="#" target="_blank"><i class="fa fa-twitter" title="Twitter"></i></a></li>
      <li><a href="#" target="_blank"><i class="fa fa-skype" title="Skype"></i></a></li>
      <li><a href="#" target="_blank"><i class="fa fa-linkedin" title="Linkedin"></i></a></li>
      <li><a href="#" target="_blank"><i class="fa fa-instagram" title="Instagram"></i></a></li>
    </ul>
  </div>
  <div>
    <img src="/images/cmg_logo.png" style="height: 110px"/>
    <!--nav>
    <ul class="menu-items container">
    <li><%= t('menu.about_us') %></li>
    <li><%= t('menu.services') %></li>
    <li><%= t('menu.projects') %></li>
    <li><a href="#contacts-section"><%= t('menu.contact_us') %></a></li>
  </ul>
</nav-->
  </div>
</header>
<div id="intro">
  <div class="info">
    <h1>Exploración, caracterización, análisis y diseño geotécnico para el éxito de sus proyectos</h1>
  </div>
</div>
