---
title: Welcome to CMG
---
<section id="content" class="body container section">
  <h2>En CMG podemos ayudarle en todos sus proyectos de Ingeniería</h2>
  <div id="service-boxes" class="clearfix row">
    <div class="service-box soil-dynamics small-12 large-6 columns">
      <h3>Geología</h3>
      <p>
        Geología aplicada para el desarrollo de obras civiles.
        <!--ul>
          <li>Planificación y ejecución de programas de perforación.</li>
          <li>Mapeo geológico a escala regional y local.</li>
          <li>Integración e interpretación de información geológica y geotécnica.</li>
          <li>Modelamiento integrado geológico-geotécnico.</li>
          <li>Manejo de información geológica por medio de Sistemas de Información Geográfica.</li>
        </ul-->
      </p>
    </div>
    <div class="service-box soil-dynamics small-12 large-6 columns">
      <h3>Geotecnia</h3>
      <p>
        De los servicios que presta CMG en el ámbito de la dinámica de suelos
        se distinguen los siguientes: Determinación de empujes laterales de
        incremento sísmico sobre estructuras enterradas, Clasificación sísmica
        de terrenos
      </p>
    </div>
    <div class="service-box soil-dynamics small-12 large-6 columns">
      <h3>Sondeos CTP</h3>
      <p>
        De los servicios que presta CMG en el ámbito de la dinámica de suelos
        se distinguen los siguientes: Determinación de empujes laterales de
        incremento sísmico sobre estructuras enterradas, Clasificación sísmica
        de terrenos
      </p>
    </div>
    <div class="service-box soil-dynamics small-12 large-6 columns">
      <h3>Geofísica Aplicada</h3>
      <p>
        De los servicios que presta CMG en el ámbito de la dinámica de suelos
        se distinguen los siguientes: Determinación de empujes laterales de
        incremento sísmico sobre estructuras enterradas, Clasificación sísmica
        de terrenos
      </p>
    </div>
  </div>
</section>
