---
title: Welcome to CMG
---
<section class="about">
  <div class="row">
    <div class="medium-4 columns">
      <img src="/images/maquina.jpg" style="border: 1px solid #fed3c9;"/>
    </div>
    <div class="medium-8 columns">
      <h2 class="heading-title">Conózcanos</h2>
      <div class="feature-tile-content">
        <p>
          CMG Caracterización y Modelación Geotécnica S.A. es un empresa
          consultora especializada en geotecnia, fundada en 2016, con
          oficinas en San Ramón de Alajuela.
        </p>
        <p>
          CMG cuenta con personal altamente calificado y con amplia
          experiencia que permiten entregar soluciones especificas a los
          problemas particulares de nuestros clientes.
        </p>
        <p>
          Ofrecemos una amplia gama de servicios de geotecnia para atender de forma integral
          los problemas particulares de su proyecto.
        </p>
      </div><!-- /.feature-tile-content -->
    </div><!-- /.columns medium-12 -->
  </div><!-- /.row -->
</section>

<section class="row collapse">
  <h2 class="heading-title">Nuestros Servicios</h2>
  <div class="medium-3 columns">
    <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
      <!--li class="tabs-title geol is-active"><a href="#panel1v" aria-selected="true">Geología</a></li-->
      <li class="tabs-title geot"><a href="#panel2v">Geotecnia</a></li>
      <!--li class="tabs-title geof"><a href="#panel3v">Geofísica aplicada</a></li-->
    </ul>
  </div>
  <div class="medium-9 columns">
    <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
      <!--div class="tabs-panel is-active" id="panel1v">
        <p>
          Brindamos servicios en geología aplicada para el desarrollo de obras
          civiles, entre los que se destacan:

          <ul>
            <li>
              Planificación y ejecución de programas de perforación.
            </li>
            <li>
              Mapeo geológico a escala regional y local.
            </li>
            <li>
              Integración e interpretación de información geológica y geotécnica.
            </li>
            <li>
              Modelamiento integrado geológico-geotecnico.
            </li>
            <li>
              Manejo de información geológica por medio de Sistemas de Información Geográfica (SIG).
            </li>
          </ul>
        </p>
      </div-->
      <div class="tabs-panel is-active" id="panel2v">
        <p>
          Planificamos el estudio geotécnico en función del objetivo del
          proyecto. Brindamos los siguientes servicios:

          <ul>
            <li>Estudios de mecánica de suelos por medio de sondeos SCPTu.</li>
            <li>Ensayos presiométricos mediante presiómetro Pencel.</li>
            <li>Estimación de módulo resiliente mediante presiómetro Pencel.</li>
            <li>Diseño geotécnico de cimentaciones superficiales y profundas.</li>
            <li>Diseño geotécnico de cimentaciones para máquinas.</li>
            <li>Interpretación y modelación de datos.</li>
            <li>Diseño de sistemas de mejoramiento del terreno.</li>
            <li>Análisis y diseño de muros de retención.</li>
            <li>Análisis de estabilidad de taludes (estáticos, pseudoestáticos y dinámicos).</li>
            <li>Optimización de análisis y diseño de soluciones utilizando métodos de elemento finito (FEM).</li>
            <li>Manejo de información geotécnica por medio de Sistemas de Información Geográfica (SIG). </li>
          </ul>
        </p>
      </div>
      <!--div class="tabs-panel" id="panel3v">
        <p>
          Realizamos ensayos geofísicos aplicados a la ingeniería civil en
          distintos tipos de suelos y rocas. Brindamos los siguientes servicios:

          <ul>
            <li>Análisis multicanal de ondas superficiales (MASW).</li>
            <li>Refracción de micro tremores (ReMi).</li>
            <li>Downhole.</li>
            <li>Interpretación y modelación de datos.</li>
            <li>Los ensayos geofísicos son utilizados para:
              <ul>
                <li>Determinar la profundidad del basamento rocoso.</li>
                <li>Investigación de ripabilidad de materiales.</li>
                <li>Investigaciones para cimentaciones.</li>
                <li>Estabilidad de taludes.</li>
                <li>Localización de fallas geológicas.</li>
                <li>Medición de velocidades de onda cortante y compresión.</li>
                <li>Estimación de módulos dinámicos de suelos.</li>
                <li>Mapeo estratigráfico.</li>
                <li>Clasificación sísmica de suelos orientados a códigos de construcción.</li>
              </ul>
            </li>
          </ul>
        </p>
      </div-->
    </div>
  </div>
</section>

<section id="badges" class="row">
  <div class="medium-8 columns">
    <h2 class="heading-title">Clientes</h2>
    <div class="row">
      <div class="medium-2 columns"><img src="/images/clients/aa.png" /></div>
      <div class="medium-2 columns"><img src="/images/clients/sarco.jpg" /></div>
      <div class="medium-2 columns"><img src="/images/clients/savcon.jpg" /></div>
      <div class="medium-2 columns"><img src="/images/clients/sismocon.jpg" /></div>
      <div class="medium-2 columns end"><img src="/images/clients/wqg.png" /></div>
    </div>
  </div>
  <div class="medium-4 columns">
    <h2 class="heading-title">Colaboradores</h2>
    <div class="row">
      <div class="medium-6 columns"><img src="/images/colaboradores/hgse_peru.png" /></div>
      <div class="medium-6 columns"><img src="/images/colaboradores/hgse_cr.png" /></div>
    </div>
  </div>
</section>
